body{
    background: linear-gradient(90deg, black, rgb(43, 42, 42));
}

.SharinganAnimation{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 190px;
}

.SharinganAnimation img{
    width: 100px;
    margin: 0 90px 0;

    animation: is-rotating 1s infinite;
}

@keyframes is-rotating {
    from {
        transform: rotate(1turn);
    }
}